<div class="container">
    <div class="row noprint">
        <div class="jumbotron">
            <h2>Når man skriver ut denne siden så husk å krysse av i print dialog for bakgrunnsfager ellers vil ikke
                fargene på tabellen dukke opp.</h2>
        </div>
    </div>
    <div class="row" ng-controller="DataController as dc">
        <img class="logo" src="img/Itera_logo_red_large.png">

        <h1>UTLEGG FOR EKSTERNE</h1>

        <h2>Refusjon av flere utlegg</h2>

        <table class="table table-bordered table-condensed table-hover output">
            <thead>
            <tr>
                <th>Navn:</th>
                <td colspan="3"><span possible-missing text="{{ dc.data.user.name }}" name="navn" page="#/start"></span></td>
            </tr>
            <tr>
                <th>Adresse:</th>
                <td colspan="3">
                    <span possible-missing text="{{ dc.data.user.address }}" name="adresse" page="#/start"></span>,
                    <span possible-missing text="{{ dc.data.user.postcode }}" name="postnr" page="#/start"></span>
                    <span possible-missing text="{{ dc.data.user.town}}" name="poststed" page="#/start"></span>
                </td>
            </tr>
            <tr>
                <th>Tlf/Mob:</th>
                <td colspan="3"><span possible-missing text="{{dc.formatTlf(dc.data.user.tlf)}}" name="tlf/mob" page="#/start"></span></td>
            </tr>
            <tr>
                <th>E-post:</th>
                <td colspan="3"><span possible-missing text="{{dc.data.user.email}}" name="e-post" page="#/start"></span></td>
            </tr>
            <tr>
                <th>Kontonummer:</th>
                <td colspan="3"><span possible-missing text="{{dc.formatAccount(dc.data.user.account)}}" name="kontonr" page="#/start"></span></td>
            </tr>
            <tr>
                <th>Formål for utlegg:</th>
                <td colspan="3"><span possible-missing text="{{dc.data.name}}" name="formål" page="#/start"></span></td>
            </tr>
            <tr>
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <th>Dato</th>
                <th>Anskaffet - brukt til hva?</th>
                <th>Beløp inkl. mva</th>
                <th>Avdeling</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-hide="dc.hasRows()">
                <td colspan="4"><a ng-href="#/rows"><span class="incomplete">Manglende utlegg</span></a></td>
            </tr>
            <tr ng-repeat="item in dc.rows()">
                <td>{{ item.date | date:'dd-MM-yyyy' }}</td>
                <td>{{ item.supplier }} - {{ item.description }}</td>
                <td>{{ item.cost | currency:"NOK "}}</td>
                <td class="locked">110 510</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td class="locked" colspan="2">Sum utlegg:</td>
                <td class="locked">{{ dc.sum(dc.data.items) | currency:"NOK "}}</td>
                <td class="locked"></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
