body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

nav {
    display: none;
}

table.output th { background-color: #c9d7eb !important; }

table.output td.locked { background-color: #d0d0d0 !important; font-weight: bold; }
