div.noprint {
  display: block;
}

@media print {
  div.noprint {
    display: none;
  }

  a.noprint {
    display: none;
  }

  footer.footer {
    display: none;
  }
}

table th {
  background-color: #c9d7eb;
}

table td.locked {
  background-color: #d0d0d0;
  font-weight: bold;
}

img.logo {
  width: 200px;
  float: right;
}

span.incomplete {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}

span.incomplete .btn {
  text-transform: lowercase;
}
